body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px green solid;
}

.main-header {
  border: 2px red solid;
  display: flex;
  justify-content: space-between;
}

.not-header {
  border: 2px blue solid;
  display: flex;
  flex-direction: row;
}

.nav-bar {
  border: 2px orange solid;
  display: flex;
  flex-direction: column;
}

#videos-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video-custom {
  width: 400px;
  object-fit: contain;
  border-radius: 15px;
}

.video-details {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.channel-photo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.video-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video-channel-views {
  display: flex;
  flex-direction: column;
}